*{
    margin: 0;
    padding: 0;
}

:root{
    --main-color: #0065FC;
    --second-color: #DEEBFF;
    --third-color: #F2F2F2;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.fas {
    color: var(--main-color);
}

.starnone {
    color: var(--third-color);
}

.cb {
    clear: both;
}