footer {
    padding: 47px 0 32px 0;
    margin-top: 30px;
    background-color: var(--third-color);
}

footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer h3{
    font-size: 16px;
    margin-bottom: 22px;
}

footer li{
    margin-bottom: 15px;
}

footer .col{
    flex: 1;
}

@media screen and (max-width: 570px) {
    footer {
        margin-top: 26px;
        padding: 16px 21px 34px 21px;
    }

    footer .container {
        flex-direction: column;
    }

    footer h3{
        margin-top: 33px;
    }
}