.s-room {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 60px;
}

.s-room h3{
    font-size: 14px;
    font-weight: 700;
}

.s-room .main {
    margin-right: 18px;
    padding: 45px 10px 0px 40px;
    background-color: var(--third-color);
    border-radius: 15px;
}

.s-room .roomlist h3, .roomlist p, .roomlist ul{
    margin-left: 12px;
    margin-bottom: 5px;
}

.s-room li{
    display: inline-block;
}

.s-room .roomlist {
    margin-top: 23px;
    display: flex;
    flex-wrap: wrap;
}

.s-room .room .img{
    border-radius: inherit;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    height: 114px;
    width: 100%;
    margin-bottom: 5px;
}


.s-room .room {
    border-radius: 15px;
    border: 5px solid white;
    background-color: white;
    width: 236px;
    margin-right: 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 18px 17px 42px -32px rgba(0,0,0,0.57);
    -moz-box-shadow: 18px 17px 42px -32px rgba(0,0,0,0.57);
    box-shadow: 18px 17px 42px -32px rgba(0,0,0,0.57);
}

.s-room .more{
    margin-bottom: 40px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.s-room .bestlist {
    display: flex;
    flex-direction: column;
}

.s-best {
    padding: 45px 37px 0px 37px;
    background-color: var(--third-color);
    border-radius: 15px;
}

.s-best .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.s-best .top i {
    color: black;
}

.s-best .best {
    display: flex;
    flex-direction: row;
    padding-right: 50px;
    margin-bottom: 34px;
    width: 283px;
    height: 134px;
    border-radius: 15px;
    border: 5px solid white;
    background-color: white;
    -webkit-box-shadow: 18px 17px 42px -32px rgba(0,0,0,0.57);
    -moz-box-shadow: 18px 17px 42px -32px rgba(0,0,0,0.57);
    box-shadow: 18px 17px 42px -32px rgba(0,0,0,0.57);
}

.s-best img{
    height: 100%;
    width: 127px;
    border-radius: inherit;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
}

.s-best .content {
    display: flex;
    flex-direction: column;
    margin-left: 21px;
}

.s-best .content h3{
    margin-top: 14px;
    margin-bottom: 10px;
}

.s-best .content ul{
    margin-top: 40px;
}

@media screen and (max-width: 375px) {
    .s-room {
        margin-bottom: 60px;
        width: 100%;
        flex-direction: column-reverse;
    }

    .s-room .main {
        background-color: white;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0px;
        padding: 41px 21px 0 21px;
    }

    .s-room .roomlist{
        box-sizing: border-box;
        width: inherit;
    }

    .s-room .main .room {
        margin-bottom: 12px;
        box-sizing: border-box;
        display: inline-block;
        width: inherit;
    }

    .s-room .more {
        margin-top: 23px;
        margin-bottom: 0px;
    }

    .s-room .main a{
        width: inherit;
    }

    .s-room .s-best {
        box-sizing: border-box;
        width: 100%;
        border-radius: 0px;
        padding: 43px 21px 0 21px;
    }

    .s-best .best{
        padding-right: 40px;
        width: inherit;
    }
}