.s-search {
    margin-top: 35px;
}

.s-search h1 {
    margin-bottom: 10px;
}

.search-bar{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 31px;
    height: 49px;
    border: 2px solid var(--third-color);
    border-radius: 15px;
    background-color: var(--third-color);
}

.search-bar-mobile {
    display: none;
}

.search-bar i{
    color: black;
    background-color: var(--third-color);
    margin: 0 15px 0 15px;
    padding: 0;
}

.search-bar input{
    display: inline-block;
    width: 215px;
    padding: 0 10px;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;

    font-size: 1em;
    font-weight: 600;
    color: black;
    border-style: none;
}

.search-bar input::placeholder{
    color: black;
}

.search-bar .search-button{
    display: inline-block;
    box-sizing: border-box;
    line-height: 49px;
    padding: 0 18px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1em;
    font-weight: 600;
    color: white;
    background-color: var(--main-color);
}

.search-bar .search-mobile {
    display: none;
    box-sizing: border-box;
    line-height: 49px;
    font-size: 1em;
    font-weight: 600;
    border-radius: inherit;
}

.search-bar .search-mobile i {
    text-align: center;
    border-radius: inherit;
    padding: 0 15px;
    background-color: var(--main-color);
    color: white;
    margin: 0 0;
}



.s-filter {
    display: flex;
    flex-direction: row;
}

.s-filter h3{
    margin-right: 32px;
    line-height: 50px;
}

.s-filter ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 50px;
    
}

.s-filter li{
    box-sizing: border-box;
    border: 2px solid var(--third-color);
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    margin-right: 24px;
    line-height: inherit;
    border-radius: 50px;
}

.s-filter li:hover{
    background-color: var(--main-color);
    color: white;
    border-color: black;
}

.s-filter i{
    text-align: center;
    margin-right: 13px;
    width: 50px;
    color: var(--main-color);
    background-color: var(--second-color);
    line-height: inherit;
    border-radius: inherit;
}

.s-filter p {
    font-size: 16px;
    font-weight: 700;
}

.s-search .info {
    display: flex;
    flex-direction: row;
    height: 24px;
    margin-top: 35px;
    margin-bottom: 37px;
}

.s-search .info-char{
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    padding:0 9px;
    margin-right: 12px;
    color: var(--main-color);
    border: 1px solid var(--third-color);
    border-radius: 50px;
}

.s-search .info .desc{
    line-height: 25px;
}

@media screen and (max-width: 768px) {
    .s-filter li {
        margin-bottom: 13px;
    }
}

@media screen and (max-width: 570px) {
    .s-search {
        padding: 0 20px 0 20px;
        box-sizing: border-box;
    }

    .s-search h1{
        margin-bottom: 16px;
    }

    .s-filter {
        flex-direction: column;
    }

    .s-search .info{
        margin-top: 19px;
        margin-bottom: 40px;
    }

    .search-bar{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 35px;
        margin-bottom: 25px;
    }

    .search-bar i {
        line-height: 49px;
    }

    .search-bar input {
        width: 100%;
    }

    .search-bar .search-button {
        display: none;
    }

    .search-bar .search-mobile {
        display: contents;
    }

}
